.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 56px 148px 0;
  max-width: 984px;
  height: 1005px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    margin: 48px 48px 0;
    max-width: 928px;
    max-height: 962px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .lead {
    margin: 48px 0 0;
    max-width: 768px;
    max-height: 862px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .lead {
    margin: 48px 0 0;
    max-width: 320px;
    max-height: 406px;
  }
}
