.footer__links {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
  }
}
